.brand-main-info {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 60% auto;
}

.brand-main-info__heading {
    color: #fafafa;
    font-size: 50px;
}

.brand-main-info__description {
    color: #fafafa;
    margin-bottom: 30px;
}

.brand-main-info__image {
    width: 60%;
    margin-top: 70px;
}

.brand-main-info__link {
    border: 1px solid #5f9bc6;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: #5f9bc6;
    text-decoration: none;
}

.brand-main-info__link:hover {
    background-color: #53c8e9;
    color: #fafafa;
}
