.services {
    text-align: center;
    color: #f4ffff;
    margin-top: 100px;
}

.services__heading {

}

.services-list {

}

.services-list__item {
    width: 30%;
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
}

.services-list__item__icon {
    font-size: 40px;
    color: #67b0d9;
}
